* {
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0;
}

.main-header {
    width: 100%;
    background-color: rgb(108,128,146);
}

.main-header__brand {
    height: 131px;
    text-decoration: none;
    display: inline-block;
}

.main-header__brand img {
    height: 100%;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
    height: 131px;
}

.main-nav {
    display: inline-block;
    background-color: white;
    border: 1px solid rgba(112, 112, 112, 0.2);
    border-radius: 4px;
    vertical-align: middle;
    width: 45%;
    margin-left: 2%;
    padding: 12px 12px;
}

.main-nav__items {
    margin: 0;
    margin-right: 10%;
    padding: 0;
    list-style: none;
}
.main-nav__item {
    display: inline-block;
    font-size: larger;
}

.main-nav__item a {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    padding: 0px 10px;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    background-color: rgba(112, 112, 112, 0.2);
    border: solid 1px rgba(112, 112, 112, 0.7);
    border-radius: 4px;
    padding: 3px 9px;
    color: rgba(0, 0, 0, 0.7);
}

main {
    background: white;
    margin: 20px;
    border-radius: 25px;
}

.section-title {
    font-weight: normal;
    margin-top: 0;
    padding-top: 20px;
    padding-left: 10px;
    letter-spacing: .5rem;
    color: rgb(255,133,33);
}

#page-info {
    padding-left: 10px;
    color: rgb(131,124,136);
    word-spacing: .1em;
    font-size: large;
}

#products {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    margin-left: 1%;
    padding-bottom: 3%;
}

.product {
    width: 27%;
}

.product__title {
    text-align: center;
}

.product__section {
    padding: 15px;
    background-color: rgb(255,133,33);
    border-radius: 15px;
}

.product__table {
    height: 100%;
    border-collapse: collapse;
}

.product__hr {
    border: solid 1px rgb(209,82,0);
}

.product__text {
    color: rgb(255,227,217);
    padding: 0 10px;
    font-size: larger;
}

.product__data {
    padding: 15px 10px;
}

.product__buy {
    display: flex;
    align-content: center;
    justify-content: center;
}   